@page
@model Leadz.WebFE.Pages.Canvasser.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Canvasser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Canvasser.TeamId" class="control-label"></label>
                <input asp-for="Canvasser.TeamId" class="form-control" />
                <span asp-validation-for="Canvasser.TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canvasser.Address" class="control-label"></label>
                <input asp-for="Canvasser.Address" class="form-control" />
                <span asp-validation-for="Canvasser.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canvasser.PhoneNo" class="control-label"></label>
                <input asp-for="Canvasser.PhoneNo" class="form-control" />
                <span asp-validation-for="Canvasser.PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canvasser.Role" class="control-label"></label>
                <input asp-for="Canvasser.Role" class="form-control" />
                <span asp-validation-for="Canvasser.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canvasser.Name" class="control-label"></label>
                <input asp-for="Canvasser.Name" class="form-control" />
                <span asp-validation-for="Canvasser.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canvasser.CreatedDate" class="control-label"></label>
                <input asp-for="Canvasser.CreatedDate" class="form-control" />
                <span asp-validation-for="Canvasser.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canvasser.ModifiedDate" class="control-label"></label>
                <input asp-for="Canvasser.ModifiedDate" class="form-control" />
                <span asp-validation-for="Canvasser.ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canvasser.CreatedBy" class="control-label"></label>
                <input asp-for="Canvasser.CreatedBy" class="form-control" />
                <span asp-validation-for="Canvasser.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canvasser.ModifiedBy" class="control-label"></label>
                <input asp-for="Canvasser.ModifiedBy" class="form-control" />
                <span asp-validation-for="Canvasser.ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
